<div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="main-container">
        <h2 style="align-self: center;">Employee List</h2>
        <ul class="list-group list-container">
            <li *ngFor="let item of employeeList; let i=index" class="list-group-item employee-item">
                <p>{{employeeList[i].name}}</p>
                <app-employee-details [employeeInfo]="employeeList[i]" [index]="i" (deleteEmployeeEvent)="deleteEmployee($event)" (deleteElementEvent)="deleteElement($event)"></app-employee-details>
            </li>
        </ul>
    </div>
    </div>
  </div>
