<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Info
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item">Phone Number: {{employeeInfo.phoneNumber}}</a></li>
    <li><a class="dropdown-item">Office Number: {{employeeInfo.officeNumber}}</a></li>
    <li><a class="dropdown-item">Position: {{employeeInfo.position}}</a></li>
    <li><a class="dropdown-item">Manager: {{employeeInfo.manager}}</a></li>
    <button class="dropdown-item delete-button" (click)="delete(index, employeeInfo.id)">Delete Employee</button>
</ul>